*.iml
.gradle
.kotlin/
local.properties
.idea/
.DS_Store
/build/
*.apk
*.aab
*.so
.build-outputs/
hsperfdata_*/
node-compile-cache/
debug.keystore
debug.keystore.base64
.env
.dev.env.json
*.alive
*.lck
